@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard {
  padding: 20px;
  flex: 1;
}

.section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  border: 2px solid #000; /* Bordo della box simile a un fieldset */
  border-radius: 8px; /* Angoli arrotondati */
  padding: 20px 20px 15px 20px; /* Padding con maggiore spazio sopra */
  position: relative;
  flex: 1; /* Box flessibile */
  height:  250px;
  margin: 10px;
  background-color: #fff;
}
.box.tall-box {
  height: calc(100vh - 250px); /* Altezza dinamica */
}

.box.half-width {
  flex: 2; /* Box più largo */
}

.box-title {
  position: absolute;
  top: -15px; /* Titolo sopra il bordo */
  left: 20px; /* Posizionamento orizzontale */
  padding: 0 10px; /* Padding interno */
  background: #fff; /* Sfondo bianco */
  font-size: 18px;
  color: #000;
  font-weight: bold;
  border: 2px solid #000; /* Bordo superiore */
  border-radius: 4px;
  width: calc(100% - 40px); /* Larghezza del titolo pari alla larghezza della box */
  text-align: center; /* Allinea il testo al centro */
}

.box ul {
  list-style: none; /* Nessun marker per gli elementi della lista */
  padding: 0;
  margin-top: 25px; /* Distanza dal titolo */
}

.box li {
  margin-bottom: 10px;
  font-size: 16px;
}

.box li span {
  font-weight: bold;
}
