@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

.main-header {
    background-color: 	#ffffff;
    border-bottom: 1px solid #ddd;
    height: 2%;
    box-shadow: 0 4px 6px rgba(215, 90, 61);
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Assicura il posizionamento relativo per gestire meglio il centro */
}

.logo {
    margin: 0.7% 1% 0.1% 5%;
    flex: 1; /* Assicura che la logo occupi spazio */
}

.navigation {
    display: flex;
    gap: 30px; /* Distanza uniforme tra i link */
    justify-content: center; /* Allinea i link al centro */
    align-items: center;
    flex: 2; /* Assegna più spazio alla navigazione rispetto agli altri elementi */
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Allinea tutto a destra */
    gap: 10px;
    margin-right: 3%; /* Aggiunge ulteriore spazio verso il bordo destro */
    flex: 1; /* Mantiene equilibrio tra logo e navigation */
}


.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
    line-height: 1.2;
}

.nav-link i {
    font-size: 25px;
    margin: 0;
    line-height: 1;
}

.nav-link span {
    margin-top: 2px;
}

.nav-link:hover {
    color: #000000; )
}

.nav-link:hover i {
    color: #d75a3d;
}
a
{
    color: #333333;
}
a:hover
{
    color: #000000;
}

.logout-button {
    padding: 5px 10px;
    margin-right: 5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d75a3d;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #b94b32;
}


@media (max-width: 768px) {
    .sidebar {
        height: auto; /* Ridimensiona per schermi piccoli */
        width: 100%; /* Larghezza completa */
    }
}
