@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  background-color: #ffffff;
  }


  .dashboard {
    margin: 20px;
    margin-top: 0.7%;
    padding: 1.5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    background-color: #e5e5e5;
    box-shadow: 0 4px 6px rgba(215, 90, 61);
  }
  .dashboard.tall-box {
  height: calc(100vh - 250px); /* Altezza dinamica */
}
  ul {
  list-style: none; /* Nessun marker per gli elementi della lista */
  padding: 0;
  margin-top: 25px; /* Distanza dal titolo */
}
  li {
  margin-bottom: 10px;
  font-size: 20px;
  display: flex; /* Usato per allineare gli elementi */
  justify-content: space-between; /* Distribuisce gli elementi tra sinistra e destra */
}
  .dashboard li span {
  font-weight: bold;
  text-align: right; /* Allinea a destra solo il testo in grassetto */
  width: 50%; /* Controlla la larghezza per l'allineamento */
}

.dashboard li span + span {
  text-align: left; /* Allinea a sinistra il testo che non è in grassetto */
}

  .button {
    padding: 10px 20px;
    background-color: #d75a3d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #b94b32;
}

/* Barra laterale */
.sidebar {
    position: absolute; /* Posiziona rispetto all'elemento contenitore */
    top: 2%; /* Altezza dell'header, regolabile se necessario */
    right: 0.25%;
    z-index: 100; /* Assicurati che sia sopra il contenuto sottostante */
    height: 190px;
    width: 190px;
    background-color: 	#ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(215, 90, 61);
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 30px 0px 30px 25px;
    height: 74vh;
    overflow-y: auto;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

i {
    font-size: 24px;
    margin-top: 15%;
    line-height: 1;
    color: #333333;
}
i:hover {
    color: #000000;
}
.sidebar span {
    margin-top: 2px;
}
.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
    line-height: 1.2;
}
a
{
    color: #000000;
    text-decoration: none;
}
.pulsante
{
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .sidebar {
        height: auto; /* Ridimensiona per schermi piccoli */
        width: 100%; /* Larghezza completa */
    }
}
