body {
   font-family: 'Open Sans', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #ffffff;
   color: #333;
   line-height: 1.6;
}

main {
   max-width: 800px;
   margin: 20px auto;
   background: white;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
   text-align: center;
    color: #333333;
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 700;
}

form {
   display: grid;
   gap: 15px;
}

form label {
   font-size: 14px;
   color: #555;
}

form input[type="text"],
form input[type="number"],
form input[type="time"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f9f4f1;
    resize: none;
}

form .quiz-types {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

form .buttons {
   display: flex;
   justify-content: space-between;
}

form .buttons button {
   padding: 10px 20px;
   font-size: 1rem;
   font-weight: 600;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease;
   display: inline-block;
   margin-right: 10px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Effetto ombra */
   cursor: pointer;
   transition: box-shadow 0.3s ease, transform 0.3s ease; /* Effetti al passaggio del mouse */
}

form .buttons .cancel {
   background-color: #000000;
    color: #ffffff;
}

form .buttons .cancel:hover {
   transform: scale(1.05); /* Leggero ingrandimento al passaggio del mouse */
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Ombra più intensa su hover */
   background-color: #d75a3d;
   color: #ffffff;
}

form .buttons .generate {
   background-color: #000000;
    color: #ffffff;
}

form .buttons .generate:hover {
   transform: scale(1.05); /* Leggero ingrandimento al passaggio del mouse */
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Ombra più intensa su hover */
   background-color: #d75a3d;
   color: #ffffff;
}
