/* styles.css */

.container2 {
    text-align: center;
    width:80%;
    max-width: 100%;
    background: white;
    padding: 2%;
    margin: 2% auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.quiz-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.quiz-info h2 {
    margin: 0;
    font-size: 18px;
}

.quiz-info p {
    margin: 5px 0;
    font-size: 14px;
}

.quiz-info span {
    font-weight: bold;
}

.quiz-button button {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.quiz-button button:hover {
    color: #d75a3d;
}

.back-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #000000;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.back-button::before {
    content: '\21A9'; /* Icona freccia curva a sinistra */
    font-size: 24px;
    position: absolute;
}

.back-button:hover {
    background: #d75a3d;
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.back-button:active {
    transform: scale(1);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
