@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f4f1; /* Sfondo neutro */
}

.main-header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease-in-out;
    height: 1%; /* Altezza ridotta per l'header */
    padding: 5px 20px; /* Ridotto il padding */
}

.main-header:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: space-between; /* Distanza uniforme tra gli elementi */
    align-items: center;
    max-width: 100%;
    height: 100%; /* Mantieni la stessa altezza dell'header */
}

.logo img {
    margin: 0 5% 0 5%; /* Ridotto il margine per il logo */
    flex-shrink: 0;
}

.logo img:hover {
    transform: scale(1.05); /* Un leggero ingrandimento al passaggio del mouse */
    filter: drop-shadow( 0 0 10px rgba(215, 90, 61, 0.5));
}

.navigation {
    display: flex;
    justify-content: center; /* Allinea la navigazione al centro */
    gap: 30%; /* Distanza tra le icone */
    flex-grow: 1; /* Permette alla navigazione di espandersi per occupare lo spazio tra il logo e le informazioni utente */
    text-align: left; /* Centra anche il testo */
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}

.nav-link i {
    font-size: 30px;
}

.nav-link.active i
{
    color: #d75a3d;
    transform: scale(1.1); /* Leggero ingrandimento al passaggio del mouse */
}
.nav-link:hover i {
    color: #d75a3d;
    transform: scale(1.1); /* Leggero ingrandimento al passaggio del mouse */
}

.nav-link span {
    margin-top: 1px;
    transition: color 0.3s ease;
}

.nav-link.active span,
.nav-link:hover span {
    color: #d75a3d;
}

.nav-link:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #d75a3d;
    bottom: -5px;
    left: 4%;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover:before {
    width: 100%;
    left: 0;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 20px;
    margin-left: 25%;
    font-size: 14px; /* Ridotta la dimensione del testo */
}

.logout-button {
    padding: 6px 12px; /* Ridotto il padding del bottone */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d75a3d;
    color: #fff;
    font-weight: bold;
    font-size: 12px; /* Ridotta la dimensione del testo */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
    background-color: #b94b32;
    transform: scale(1.05); /* Leggero ingrandimento al passaggio del mouse */
}
