@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard {
  padding: 20px;
  flex: 1; /* Assicura che la sezione prenda tutto lo spazio disponibile */
}

.section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  position: relative; /* Necessario per posizionare il titolo sopra la linea */
  flex: 1;
  height: 10%;
  margin: 10px;
}

.box.tall-box {
  height: calc(100vh - 250px); /* Rende i box alti quanto la pagina meno header e margini */
}

.box.half-width {
  flex: 2; /* Raddoppia la larghezza di questa box */
}

.box h2 {
  position: absolute;
  top: -12px; /* Posiziona il titolo sopra il bordo */
  left: 10px;
  background: white; /* Sfondo per coprire il bordo */
  padding: 0 10px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.box ul {
  list-style: none;
  padding: 0;
  margin-top: 20px; /* Lascia spazio sotto il titolo */
}

.box li {
  margin-bottom: 10px;
  font-size: 16px;
}

.box li span {
  font-weight: bold;
}
