<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caricamento Materiale Didattico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylecaricamentomateriale.css') }}">
</head>
{% include 'header.html' %}
<body>
<main>
    <div class="h2">
        <h2>Caricamento Materiale Didattico</h2>
    </div>

    <div class="error-message">
        {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flashes">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    </div>
    <form action="{{ url_for('MaterialeDocente.carica_materiale') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="titolo">Titolo del Materiale:</label>
            <input type="text" id="titolo" name="titolo" placeholder="Inserisci il titolo del materiale" required>
        </div>
        <div class="form-group">
            <label for="descrizione">Descrizione:</label>
            <textarea id="descrizione" name="descrizione" placeholder="Inserisci una breve descrizione" rows="4" required></textarea>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <select id="tipo" name="tipo" required>
                <option value="pdf">pdf</option>
                <option value="docx">docx</option>
                <option value="mp4">mp4</option>
                <option value="jpg">jpg</option>
                <option value="txt">txt</option>
                <option value="png">png</option>
                <option value="jpeg">jpeg</option>
            </select>
        </div>
        <div class="form-group">
            <label for="file">Seleziona il file:</label>
            <input type="file" id="file" name="file" required>
        </div>
        <button type="submit">Carica</button>
    </form>
</main>
</body>
</html>
