<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classifica della Classe</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleDashboardDoc.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="main-content">
        <!-- Classifica principale -->
        <div class="dashboard">
            <h2>Classifica della Classe</h2>
            <ul>
                <li>
                    <h3>Nome Studente</h3>
                    <span><h3>Punteggio</h3></span>
                </li>
                {% for studente in classifica %}
                <li>
                    <a class="studente" href="{{ url_for('dashboard.storico_studente', cf_studente=studente.CF) }}">
                        <strong>{{ loop.index }}.</strong> {{ studente.Nome }} {{ studente.Cognome }}
                    </a>
                    <span>{{ studente.PunteggioTotale }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="sidebar-item">
                    <a href="{{ url_for('classedocente.Classe_Docente', ID_Classe=session['ID_Classe']) }}">
                    <i class="fa-solid fa-users-rectangle"></i>
                    <br>
                    <span>Gestione Classe</span>
                </a>
            </div>
        </aside>
    </div>
</body>
</html>
