<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classifica della Classe</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styledashboarddoc.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <!-- Classifica principale -->
        <div class="dashboard tall-box">
            <ul>
            <li><h3>Classifica della classe</h3>
                <span><h3>Punteggio</h3></span>
            </li>
                {% for studente in classifica %}
                    <li>
                       <a href="{{ url_for('dashboardDocente.storico_studente', cf_studente=studente.CF) }}">
                            <strong>{{ loop.index }}.</strong> {{ studente.Nome }} {{ studente.Cognome }}
                        </a>
                        <span>{{ studente.PunteggioTotale }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Sidebar -->
            <aside class="sidebar">
        <div class="sidebar-item">
            <a href="{{ url_for('dashboardDocente.dashboard', id_docente=1001) }}" class="link">
                <i class="fa-solid fa-users-rectangle"></i>
                <br>
                <span>Gestione Classe</span>
            </a>
        </div>
    </aside>
    </div>
</body>
</html>
