<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BeYourChoice Dashboard</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styledashboarddoc.css') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        {% include 'header.html' %}
        <div class="container">
            <!-- Dashboard principale -->
            <div class="dashboard">
                <h2>Classifica di tutte le classi</h2>
                <ul>
                    <li>
                        <span><strong>1 Classe A 95</strong></span>
                        <span>
                            <button class="button">Gestione Classe</button>
                            <button class="button">Classifica Classe</button>
                        </span>
                    </li>
                    <li>
                        <span><strong>2 Classe B 90</strong></span>
                        <span>
                            <button class="button">Gestione Classe</button>
                            <button class="button">Classifica Classe</button>
                        </span>
                    </li>
                    <li>
                        <span><strong>3 Classe C 85</strong></span>
                        <span>
                            <button class="button">Gestione Classe</button>
                            <button class="button">Classifica Classe</button>
                        </span>
                    </li>
                </ul>
            </div>

            <!-- Sidebar -->
            <aside class="sidebar">
            <ul>
                <a href="" class="link"><i class="fas fa-circle-plus"></i><br>
                    <span>Crea Classe Virtuale</span>
                </a>
            </ul>
</aside>
        </div>
    </body>
</html>
