<!-- dashboardDocente.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeYourChoice Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleDashboardDoc.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
</head>
<body>
{% include 'header.html' %}
<div class="main-content">
    <!-- Dashboard principale -->
    <div class="dashboard">
        <h2>Classifica di tutte le classi</h2>
        <ul>
            {% for classe in classi %}
            <li>
                <strong>{{ classe.Nome_Classe }}</strong>
                <span>
                        <a class="pulsante"
                           href="{{ url_for('dashboard.classifica_classe', ID_Classe=classe.ID_Classe) }}">
                            <button class="bottone">Classifica classe</button>
                        </a>
                        <a class="pulsante"
                           href="{{ url_for('classedocente.Classe_Docente', ID_Classe=classe.ID_Classe) }}">
                            <button class="bottone">Gestione classe</button>
                        </a>

                    </span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="sidebar-item">
            <a href="{{ url_for ('views.creazione_classe')}}">
                <i class="fas fa-circle-plus"></i><br>
                <span> Crea Classe Virtuale</span>
            </a>
        </div>
    </aside>
</div>
</body>
</html>
