<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeYourChoice Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styledashboarddoc.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    <div class="main-content">
        <!-- Dashboard principale -->
        <div class="dashboard">
            <h2>Classifica di tutte le classi</h2>
            <ul>
                {% for classe in classi %}
                <li>
                    <strong>{{ classe.Nome_Classe }}</strong>
                    <span>
                        <a class="pulsante" href="{{ url_for('dashboardDocente.classifica_classe', id_classe=classe.ID_Classe) }}">
                            <button class="button">Classifica Classe</button>
                        </a>
                        <a class="pulsante">
                            <button class="button">Gestione classe</button>
                        </a>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="sidebar-item">
                <i class="fas fa-circle-plus"></i><br>
                <span>Crea Classe Virtuale</span>
            </div>
        </aside>
    </div>
</body>
</html>
