<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeYourChoice Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleDashboard.css') }}">
</head>
<body>
{% include 'header.html' %}
<div class="dashboard">
    <div class="section">

        <!-- Punteggio Personale -->
        <div class="box">
            <h2>Punteggio Personale</h2>
            <ul>
                <li>Quiz: <span>{{ punteggio_quiz }}</span></li>
                <li>Scenari Virtuali: <span>{{ punteggio_scenario }}</span></li>
            </ul>
        </div>

        <!-- Classifica della classe -->
        <div class="box tall-box half-width">
            <h2>Classifica della classe</h2>
            <ul>
                {% for studente in classifica %}
                <li>{{ loop.index }}. {{ studente.Nome }} {{ studente.Cognome }}
                    <span>{{ studente.PunteggioTotale }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>


        <!-- Storico Personale -->
        <div class="box tall-box">
            <h2>Storico Personale</h2>
            <ul>
                 {% if storico %}
                    {% for attivita in storico %}
                    <li>
                        <div>
                            <p><strong>{{ attivita.Descrizione_Attività }}</strong></p>
                            <p><strong>Punteggio: </strong>{{ attivita.Punteggio_Attività }}</p>
                        </div>
                    </li>
                    {% endfor %}
                {% else %}
                    <li>
                        <p>Nessuna attività trovata.</p>
                    </li>
                {% endif %}
            </ul>
        </div>


    <aside class="sidebar">
        <div class="sidebar-item">
            <a href="{{ url_for('classedocente.Classe_Studente', ID_Classe=session.get('ID_Classe')) }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Visualizzazione classe</span>
            </a>
        </div>
    </aside>
    </div>
</div>
</body>
</html>
