<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>









{% include 'header.html' %}
    <h1>Visualizzazione domande dei quiz precedentemente creati</h1>
    <div class="container">
        <div class="quiz-section">
            <h2>Domanda 1</h2>
            <div class="question">
                <input type="checkbox" id="answer1-1"> <label for="answer1-1"> mmmmm mm mm mm </label>
            </div>
            <div class="answer">
                <input type="checkbox" id="answer1-2" checked> <label for="answer1-2"> mmmmm </label>
            </div>
            <div class="answer">
                <input type="checkbox" id="answer1-3"> <label for="answer1-3"> mmmmm </label>
            </div>
        </div>
        <div class="quiz-section">
            <h2>Domanda 2</h2>
            <div class="question">
                <input type="checkbox" id="answer2-1"> <label for="answer2-1"> mmmmm mm mm mm </label>
            </div>
            <div class="answer">
                <input type="checkbox" id="answer2-2" checked> <label for="answer2-2"> mmmmm </label>
            </div>
            < div class="answer">
                <input type="checkbox" id="answer2-3"> <label for="answer2-3"> mmmmm </label>
            </div>
        </div>
    </div>
</body>
</html>