<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel = "stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleheader.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="logo"><img src="{{ url_for('static', filename='img/Logo.png') }}" width="100"></div>
            <div class="navigation">
                <a href="" class="nav-link">
                    <i class="fas fa-user"></i><br>
                    <span>Profilo</span>
                </a>
                <a href="" class="nav-link">
                    <i class="fas fa-cubes"></i><br>
                    <span>Dashboard</span>
                </a>
                <a href="" class="nav-link">
                    <i class="fas fa-bell"></i><br>
                    <span>Notifiche</span>
                </a>
                <a href="" class="nav-link">
                    <i class="fas fa-comments"></i><br>
                    <span>chat</span>
                </a>
            </div>
            <div class="user-info">
                <span>Ciao, <strong>{}</strong></span>
                <button class="logout-button">Logout</button>
            </div>
        </div>
    </header>
</body>
</html>