<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleQuizPrecedenti.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <title>Visualizzazione Quiz</title>
</head>
<body>
{% include 'header.html' %}

<main class="main-container">
    <div class="quiz-container">
        <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Quiz precedentemente generati</h1>
        </div>
        {% if quiz_list %}
            {% for quiz in quiz_list %}
                <div class="quiz-item">
                    <div class="quiz-details">
                        <p><strong>{{ quiz.Titolo }}</strong></p>
                        <p>Argomento: {{ quiz.Argomento }}</p>
                        <p>N° domande: {{ quiz.N_Domande }}</p>

                    </div>
                    <div class="quiz-actions">
                        <a href="{{ url_for('quiz.visualizza_risultati_quiz', quiz_id=quiz.ID_Quiz) }}">
                            <button class="results">Risultati</button>
                        </a>
                        <a href="{{ url_for('quiz.visualizza_domande_quiz', quiz_id=quiz.ID_Quiz) }}">
                            <button class="results">Visualizza</button>
                        </a>


                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Nessun quiz trovato per questa classe.</p>
        {% endif %}
    </div>
    <aside class="sidebar">
        <div class="sidebar-item">
    <a href="/crea-quiz?id_classe={{ id_classe }}">
        <i class="fas fa-file-alt"></i>
        <span>Crea Quiz</span>
    </a>
    </div>
    </aside>
</main>
</body>
</html>
