<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylequizPrecedenti.css') }}">
    <title>Visualizzazione Quiz</title>
</head>
<body>
{% include 'header.html' %}

<main>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Visualizzazione quiz precedentemente generati</h1>
        <div class="create-new">
            <a href="/crea-quiz?id_classe={{ id_classe }}">
                <button>Crea Nuovo Quiz</button>
            </a>
        </div>
    </div>
    <div class="quiz-container">
        {% if quiz_list %}
            {% for quiz in quiz_list %}
                <div class="quiz-item">
                    <div class="quiz-details">
                        <p><strong>{{ quiz.Titolo }}</strong></p>
                        <p>Argomento: {{ quiz.Argomento }}</p>
                        <p>N° domande: {{ quiz.N_Domande }}</p>
                    </div>
                    <div class="quiz-actions">
                        <a href="/risultati-quiz?id_quiz={{ quiz.ID_Quiz }}">
                            <button class="results">Risultati</button>
                        </a>
                        <a href="/visualizza-quiz?id_quiz={{ quiz.ID_Quiz }}">
                            <button class="view">Visualizza</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Nessun quiz trovato per questa classe.</p>
        {% endif %}
    </div>
</main>
</body>
</html>
