<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulo di Registrazione</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/autenticazione.css') }}">
</head>
<body>
    <!-- Riga celeste separata -->
    <div class="blue-line"></div>

    <!-- Contenitore principale -->
    <div class="container">
        <div class="form-box">
            <h1>REGISTRATI</h1>
            <form action="/register" method="POST">
                <input type="text" name="nome" placeholder="Inserisci il tuo Nome" required>
                <input type="text" name="cognome" placeholder="Inserisci il tuo Cognome" required>
                <input type="text" name="sda" placeholder="Inserisci il tuo SDA" required>
                <input type="email" name="email" placeholder="Inserisci la tua Email" required>
                <input type="text" name="cf" placeholder="Inserisci il tuo Codice Fiscale" required>
                <input type="date" name="data-nascita" required>
                <input type="password" name="password" placeholder="Inserisci la tua Password" required>
                <button type="submit">INVIA</button>
            </form>
        </div>
    </div>
    <!--
    <div class="container">
        <img src="{{ url_for('static', filename='img/libri.jpeg') }}" width="130">
    </div>
    -->
</body>
</html>
