<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storico dello Studente</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styledashboarddoc.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    <div class="main-content">
        <!-- Storico dello studente -->
        <div class="dashboard">
            <h2>Storico dello Studente: {{ cf_studente }}</h2>

            <!-- Storico delle Attività -->
            <ul>
                <li>
                    <h3>Attività Svolte</h3>
                </li>
                {% if storico %}
                    {% for attivita in storico %}
                    <li>
                        <div>
                            <p><strong>{{ attivita.Descrizione_Attività }}</strong></p>
                            <p><strong>Punteggio: </strong>{{ attivita.Punteggio_Attività }}</p>
                        </div>
                    </li>
                    {% endfor %}
                {% else %}
                    <li>
                        <p>Nessuna attività trovata.</p>
                    </li>
                {% endif %}
            </ul>
        </div>

        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="sidebar-item">
                <a href="{{ url_for('classedocente.Classe_Docente', ID_Classe=session['ID_Classe']) }}">
                    <i class="fa-solid fa-users-rectangle"></i>
                    <br>
                    <span>Gestione Classe</span>
                </a>
            </div>
        </aside>
    </div>
</body>
</html>